{% extends 'events/event-base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Ввод результатов
{% endblock %}
{% block content %}

{% if event.is_published %}
{% if event.is_enter_result_allowed %}

<form action="" method="post">
  {% csrf_token %}
  <!--  {% crispy participant_form %}-->
  <div class="form-group" id="div_id_participant-pin">
    <label class="" for="id_participant-pin">PIN-код</label>
    <div class=""><input class="numberinput form-control" id="id_participant-pin" min="0" name="participant-pin"
                         oninput="CheckPinCode(
                                          event,
                                          {{ event.id }},
                                          this.value)"
                         type="number"></div>
  </div>
  <div class="alert alert-success" id="alert-ok" role="alert" style="display: none;">
    Найден участник:
  </div>
  <div class="alert alert-danger" id="alert-error" role="alert" style="display: none;">
    Участник не найден. Проверьте PIN-код, или <a href="{% url 'event_registration' event.id %}">зарегистрируйтесь</a>
  </div>
  {{ formset.management_form }}
  <table cellspacing="0" class="table table-bordered table-hover table-striped table-sm" id="dataTable" width="100%">
    <thead>
    <tr>
      <th style="width:10%">Трасса</th>
      <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    {% for form in formset %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{% crispy form %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
    <input class="btn btn-primary" id="submit-save" name="submit" type="submit" value="Сохранить результат">
  </div>
</form>

<script src="/static/events/js/check_pin_code.js" type="text/javascript"></script>
<hr>

<hr>
{% else %}
{% include 'events/snippet-card-banner.html' with message='Ввод результатов закрыт' %}
{% endif %}
{% else %}
{% include 'events/snippet-card-banner.html' with message='Событие не опубликовано' %}
{% endif %}


{% endblock %}

