{% extends 'events/event-base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Ввод результатов
{% endblock %}
{% block content %}

{% if event.is_published %}
  {% if event.is_enter_result_allowed %}

<form method="post" action="">
  {% csrf_token %}
  <!--  {% crispy participant_form %}-->
  <div id="div_id_participant-pin" class="form-group">
    <label for="id_participant-pin" class="">PIN-код</label>
    <div class=""><input type="number" name="participant-pin" min="0" class="numberinput form-control"
                         id="id_participant-pin"
                         oninput="CheckPinCode(
                                          event,
                                          {{ event.id }},
                                          this.value)"></div>
  </div>
  <div class="alert alert-success" role="alert" style="display: none;" id="alert-ok">
    Найден участник:
  </div>
  <div class="alert alert-danger" role="alert" style="display: none;" id="alert-error">
    Участник не найден. Проверьте PIN-код, или <a href="{% url 'event_registration' event.id %}">зарегистрируйтесь</a>
  </div>
  {{ formset.management_form }}
  {% for form in formset %}
  {% crispy form %}
  {% endfor %}
  <div class="form-actions">
    <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-save">
  </div>
</form>

<script type="text/javascript" src="/static/events/js/check_pin_code.js"></script>


  {% else %}
    {% include 'events/snippet-card-banner.html' with message='Ввод результатов закрыт' %}
  {% endif %}
{% else %}
  {% include 'events/snippet-card-banner.html' with message='Событие не опубликовано' %}
{% endif %}



{% endblock %}

