{% extends 'events/event-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<div class="text-center">
<img src="{% static '/events/img/check.png' %}" alt="OK" width="25px"><span class="ml-2">Регистрация завершена</span>
</div>
{% endblock %}

{% block content %}
<p>{{ participant.first_name }} {{ participant.last_name }}, Ваш PIN-код: <strong>{{ participant.pin }}</strong></p>
<p>PIN-код нужен Вам для ввода результатов, запомните его! Также он может быть указан в вашей карточке участника.</p>
{% endblock %}
