<div class="card my-4">
  <div class="card-header">
    <h2 class="h2">{{ event.title }}</h2>
  </div>
  <div class="card-body">
    <p>Дата: {{ event.date }}</p>
    <p>{{ event.description }}</p>
  </div>
  <div class="card-footer text-muted">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'event_enter' event.id %}">Внести результат</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'event_registration' event.id %}">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event' event.id %}">Описание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event_participants' event.id %}">Участники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event_results' event.id %}">Результаты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'event_admin' event.id %}">Управление</a>
      </li>
    </ul>
  </div>
</div>