{% load active_link_tags %}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link {% active_link 'event' strict=True event_id=event.id %}"
         href="{% url 'event' event.id %}">Описание</a>
      <a class="nav-link {% active_link 'event_registration' strict=True event_id=event.id %}"
         href="{% url 'event_registration' event.id %}">Регистрация</a>
      <a class="nav-link {% active_link 'event_enter' strict=True event_id=event.id %}"
         href="{% url 'event_enter' event.id %}">Внести результат</a>
      <a class="nav-link {% active_link 'event_participants' strict=True event_id=event.id %}"
         href="{% url 'event_participants' event.id %}">Участники</a>
      <a class="nav-link {% active_link 'event_results' strict=True event_id=event.id %}"
         href="{% url 'event_results' event.id %}">Результаты</a>

      <hr>
      <div class="sb-sidenav-menu-heading">Админка</div>
      <a class="nav-link {% active_link 'event_admin' strict=True event_id=event.id %}"
         href="{% url 'event_admin' event.id %}">Управление</a>
      <a class="nav-link {% active_link 'event_admin_description' strict=True event_id=event.id %}"
         href="{% url 'event_admin_description' event.id %}">Описание</a>
      <a class="nav-link {% active_link 'event_admin_settings' strict=True event_id=event.id %}"
         href="{% url 'event_admin_settings' event.id %}">Настройки</a>

    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
  </div>
</nav>